/* Variables */
:root {
    --body-background: #040404;
    --body-text: #e0e0e0;
    --controls-background: #31334e;
    --primary: hsl(245, 34%, 37%);
    --primary-border: hsl(245, 34%, 25%);
    --primary-background: hsl(242, 34%, 13%);
    --primary-text: hsl(245, 34%, 90%);
    --secondary: hsl(5, 34%, 37%);
    --secondary-border: hsl(5, 34%, 25%);
    --secondary-background: hsl(5, 34%, 10%);
    --secondary-text: hsl(5, 34%, 90%);
    --warning: hsl(15, 34%, 37%);
    --warning-border: hsl(15, 34%, 25%);
    --warning-text: hsl(15, 34%, 90%);

    --success: hsl(143 50% 30%);
    --success-border: hsl(143 75% 25%);
    --success-text: hsl(143 75% 90%);

    --radius: 24px;
    --transition: all 0.2s ease-in-out;
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    --font: "Roboto", sans-serif;
    --font-monospace: "Roboto Mono", monospace;

    --sidebar-extended: 250px;
}

/* HTML reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    display: flex;

    font-family: var(--font);
    font-optical-sizing: auto;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    line-height: 1.5;
    margin: 0 auto;
    background-color: var(--body-background);
    color: var(--body-text);
    transition:
        background-color 0.3s,
        color 0.3s;
}

/* Controls reset */

button,
a.button,
input,
select,
textarea {
    font: inherit;
    color: var(--body-text);
    border: 0;
    border-radius: var(--radius);
    padding: 10px 16px;
    transition: var(--transition);
    outline: none;
}
input,
select,
textarea {
    background-color: var(--controls-background);
    filter: brightness(120%);
}

input[disabled] {
    color: gray;
    filter: brightness(70%);
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0;
    cursor: pointer;
}

a.button,
input[type="submit"],
button {
    cursor: pointer;
    text-decoration: none;
}

dialog {
    transition: 500ms;
}

button:hover {
    filter: brightness(120%);
    box-shadow: var(--shadow);
}

/* Utilities */
.primary {
    color: var(--primary-text);
    background-color: var(--primary);
    border-color: var(--primary-border);
}

.secondary {
    color: var(--secondary-text);
    background-color: var(--secondary);
    border-color: var(--secondary-border);
}

.success {
    color: var(--success-text);
    background-color: var(--success);
    border-color: var(--success-border);
}

.error-message {
    text-align: center;
    border-radius: var(--radius);
    background-color: hsl(0, 50%, 40%);
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.error-text {
    color: hsl(0, 65%, 50%);
}

.less-bright {
    filter: brightness(80%);
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.float-right {
    float: right;
}

.flex-separate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal-center {
    display: flex;
    align-items: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

/* Semantic Elements */

dialog,
article {
    padding: 2rem;
    color: var(--primary-text);
    background-color: var(--primary-background);
    margin: 1rem;
    border-radius: var(--radius);

    header {
        margin-bottom: 1rem;
        filter: brightness(90%);
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;
        filter: brightness(90%);
    }
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border: 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding-bottom: 1rem;

    label {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}

main {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
    padding: 2rem;
    overflow: hidden;
}

main > * {
    max-width: 960px;
}

/* Table stuff */

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: calc(var(--radius) - 8px);
    overflow: hidden;
    width: 100%;
    font-family: sans-serif;
}

th,
td {
    padding: 0.5rem 1rem;
    text-align: center;
}

thead th {
    background-color: var(--primary);
    color: var(--primary-text);
    text-shadow: 1px 1px 0px var(--primary-border);
}

tbody tr {
    background-color: lch(from var(--controls-background) l c h);
}

tbody tr:nth-child(odd) {
    background-color: lch(from var(--controls-background) calc(l + 3) c h);
}

td.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

td.actions a {
    color: var(--primary-text);
}

.table-container {
    max-height: calc(100% - 64px);
    overflow-y: auto;
}

.table-container th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Controls & Custom stuff */

nav.sidebar * {
    color: white;
    font-family: "Montserrat";
}

nav.sidebar {
    z-index: 999;
    padding: 1rem;
    width: var(--sidebar-extended);
    min-width: var(--sidebar-extended);

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--primary-background);
}

.sidebar-entry {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 100%;

    margin-top: 1rem;

    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar-entry.selected {
    font-weight: bold;
    border-radius: calc(var(--radius) - 8px);
    background-color: var(--primary);
}

nav.sidebar a {
    text-decoration: none;
}

.sidebar-entry:hover {
    font-weight: bold;
    border-radius: calc(var(--radius) - 8px);
    background-color: var(--controls-background);
}

/* Extra stuff */
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.logo a {
    font-family: "Quantico", sans-serif !important;
    font-size: 3rem;
    text-align: center;
    padding: 0;
    font-weight: bolder;
    color: white;
}

.logo a:hover {
    border: 0 !important;
}

.logo span {
    height: 2rem;
    background-image: url("/public/next.png");
    background-position: center;
    filter: invert(1);
    cursor: pointer;
    border: 1px solid var(--body-background);
    padding: 1rem;
    border-radius: calc(var(--radius) / 2);
}

.logo span[role="close"] {
    transform: scaleX(-1);
}

.logo span:hover {
    zoom: 120%;
}

.logout {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: var(--shadow);
}

img.tiny {
    height: 1.2rem;
    filter: invert(1);
}

.pill {
    border-radius: var(--radius);
    padding: 0.25rem 1rem;
}

.pill.admin {
    background-color: hsl(0, 35%, 35%);
    color: var(--warning-text);
}

.pill.stock {
    background-color: hsl(210, 35%, 35%);
    color: var(--body-text);
}

.pill.sales {
    background-color: hsl(125, 35%, 35%);
    color: var(--primary-text);
}

.theme-picker {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: var(--radius);

    input {
        visibility: hidden;
    }
}

/* Toast */

#toast-container {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
}

.toast {
    position: relative;
    overflow: hidden;
    padding: 12px 24px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    font-family: var(--font);
    font-weight: bold;
    opacity: 0;
    transform: translateY(15px);
    transition: var(--transition);
    animation: toastFadeIn 0.5s forwards;
}

.toast.success {
    background-color: var(--success);
    border: 1px solid var(--success-border);
    color: var(--success-text);
}

.toast.error {
    background-color: hsl(0, 50%, 40%);
    border: 1px solid hsl(0, 65%, 50%);
    color: var(--body-text);
}

.toast.fade-out {
    animation: toastFadeOut 0.5s forwards;
}

.toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.25);
    animation: progressShrink 3s linear forwards;
}

@keyframes progressShrink {
    from {
        left: 0;
        width: 100%;
    }
    to {
        left: 100%;
        width: 0%;
    }
}

@keyframes toastFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(15px);
    }
}

@keyframes toastFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
